<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Admin</title>
  </head>
  <body>
    <h1>Xamma Adminlar</h1>
     <br>
    <hr>
    <br>
    <form method="get">
      <input type="text" name="qidiruv">
      <button>Qidirish</button>
    </form>
    <br>
    <br>
    <ul>
      {% for k in adminlar%}
      <h1>{{k.id}}.{{k.ism}}</h1>
      <br>
      <a href="/bitta_ochir/{{i.id}}/"><button>delete</button></a>

  {% endfor%}
         <br>
         <br>
             <form method="post">{% csrf_token %}
         <input type="text" name="ism" placeholder="Ism">
        <input type="text" name="fam" placeholder="Familya">
<!--        <input type="date" name="i_v" placeholder="Ish_vaqt">-->
        <select name="vaqt">
            <option value="01-02-2023">01-02-2023</option>
        </select>
        <button type="submit">Qo'shish</button>
    </form>
    <br>
    <br>
   </ul>
  </body>
</html>