<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Record</title>
  </head>
  <body>
    <h1>Xamma Recordlar</h1>
     <br>
    <hr>
    <br>
    <form method="get">
      <input type="text" name="qidiruv">
      <button>Qidirish</button>
    </form>
    <br>
    <br>
    <ul>
      {% for k in recordlar%}
      <h1>{{k.id}}.{{k.talaba}}</h1>
      <br>
      <a href="/bitta_ochir/{{i.id}}/"><button>delete</button></a>

  {% endfor%}
         <br>
         <br>
             <form method="post">{% csrf_token %}
        <input type="date" name="s_o" placeholder="Olingan_sana">
        <input type="date" name="q_s" placeholder="Qaytarilgan_sana">
        <select name="talaba">
            {% for i in talabalar%}
            <option value={{i.id}}>{{i.id}}</option>
            {% endfor %}
        </select>
        <select name="kitob">
            {% for i in kitoblar%}
            <option value={{i.id}}>{{i.id}}</option>
            {% endfor%}
        </select>
        <select name="admin">
            {% for i in adminlar%}
            <option value={{i.id}}>{{i.id}}</option>
            {%endfor%}
        </select>
        <button type="submit">Qo'shish</button>
    </form>
    <br>
    <br>
   </ul>
  </body>
</html>